options-strategy-platform/step_functions/individual_strategy_execution_definition.json
{
  "Comment": "Individual Strategy Execution Step Function - Ultimate Parallel Processing Architecture",
  "StartAt": "ExecuteIndividualStrategy",
  "States": {
    "ExecuteIndividualStrategy": {
      "Type": "Task",
      "Comment": "Execute single strategy using preloaded data with ultimate parallelization",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SingleStrategyExecutorLambdaArn}",
        "Payload": {
          "user_id.$": "$.user_id",
          "strategy_id.$": "$.strategy_id",
          "strategy_name.$": "$.strategy_name",
          "execution_time.$": "$.execution_time",
          "strategy.$": "$.strategy",
          "execution_level": "individual_strategy",
          "execution_source": "express_step_function_ultimate_parallel",
          "preloaded_data": true,
          "ultimate_parallelization": true
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "IndividualExecutionFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "IndividualExecutionSucceeded"
    },
    "IndividualExecutionSucceeded": {
      "Type": "Succeed",
      "Comment": "Individual strategy execution completed successfully with ultimate parallelization"
    },
    "IndividualExecutionFailed": {
      "Type": "Fail",
      "Comment": "Individual strategy execution failed",
      "Cause": "Lambda execution failed during individual strategy processing",
      "Error": "IndividualStrategyExecutionError"
    }
  }
}